.root {
  @apply h-60 w-60 rounded-full overflow-hidden border-gray-200 border-4 cursor-pointer outline-none;

  /* safari border-radius + overflow fix https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.root:focus-visible {
  @apply outline-none;
}

.root:focus-within {
  @apply outline-none shadow-fat-outline border-white;
}

.root:focus-within .image {
  @apply transform scale-110;
}

.image {
  @apply h-full w-full object-cover;
}

.image:hover {
  @apply transform scale-110;
}

.image:focus,
.image:focus-within,
.image:focus-visible {
  @apply outline-none;
}

@screen sm {
  .root {
    @apply h-72 w-72;
  }
}

@screen md {
  .root {
    @apply h-80 w-80;
  }
}

@screen xl {
  .root {
    @apply h-96 w-96;
  }
}
