.root {
  @apply grid grid-cols-1 bg-gray-200 gap-8 p-8;

  grid-template-rows: repeat(6, minmax(328px, auto)) auto;
  grid-template-areas:
    'photo'
    'hello'
    'cv'
    'article'
    'maiia'
    'social'
    'credits';
}

@screen md {
  .root {
    @apply grid-cols-2;

    grid-template-rows: repeat(5, minmax(328px, auto)) auto;
    grid-template-areas:
      'cv photo'
      'cv hello'
      'article article'
      'maiia maiia'
      'social social'
      'credits credits';
  }
}

@screen lg {
  .root {
    @apply grid-cols-4;

    grid-template-rows: repeat(3, minmax(328px, auto)) auto;
    grid-template-areas:
      'cv article article photo'
      'cv hello maiia maiia'
      'social social maiia maiia'
      'credits credits credits credits';
  }
}

@screen 2xl {
  .root {
    @apply px-40;
  }
}
